*{margin: 0;
padding: 0;
box-sizing: border-box;}
body{
   margin: 0;

}

.parent{ background-color: #23424A;
    padding: 20px;
margin: 10px auto;
width: 96%;



}


.child{
    background-color: #38cfd9;
    padding-block: 5em;
    padding-inline: 1em;
 
   
}